<template>
  <div>
    <!-- 头部组件 -->
    <nav-header></nav-header>
    <!-- 面包屑组件 -->
    <nav-bread>
      <span>积分兑换订单</span>
    </nav-bread>
    <!-- 中间内容 -->
    <div class="container">
      <div class="cart">
        <div class="page-title-normal">
          <h2 class="page-title-h2"><span>积分兑换订单</span></h2>
            <select v-model="orderType" @change="changeOrderList">
                    <option value="">以旧换新订单</option>
                    <option value="scoresOrderList">积分兑换订单</option>
                    <option value="crowdfoudingOrderList">众筹订单</option>
             </select>
          <div class="orderlist-select">
            <label>状态选择:</label>
            <select v-model="selected" @change="refreshOrder">
                    <option value="全部">全部</option>
                    <option value="等待付款">等待付款</option>
                    <option value="待发货">待发货</option>
                    <option value="已发货">已发货</option>
             </select>
          </div>
        </div>

        <div class="item-list-wrap">
          <div class="cart-item">
            <div class="cart-item-head">
              <ul>
                <li>订单号</li>
                <li>名称</li>
                <li>价格</li>
                <li>购买数量</li>
                <li>需支付</li>
                <li>编辑</li>
              </ul>
            </div>
            <ul class="cart-item-list">
              <li v-for="item in orderList">

                <div class="cart-tab-0">
                  <div class="cart-item-title">
                    <div class="item-name">{{item.orderId}}</div>
                  </div>
                </div>
                <div class="cart-tab-1">
                  <div class="cart-item-pic">
                    <img v-bind:src="item.image" v-bind:alt="item.title">
                  </div>
                  <div class="cart-item-title">
                    <div class="item-name">{{item.title}}</div>
                  </div>
                </div>
                <div class="cart-tab-2">
                  <div class="item-price">{{item.singlePrice+"积分"}}</div>
                </div>
                <div class="cart-tab-3">
                  <div class="item-quantity">
                    <div class="select-self select-self-open">
                      <div class="select-self-area">
                        <span class="select-ipt">{{item.num}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart-tab-5">
                  <div class="item-price-total">{{(item.num*item.singlePrice)}}</div>
                </div>
                <div class="cart-tab-5">
                  <div class="cart-item-opration">
                    <a href="javascript:;" class="item-edit-btn" @click="gotoDetail(item)">
                      <!--<router-link class="btn btn--m" to="/address">删除</router-link>-->
                      <svg class="icon icon-del">
                        <use xlink:href="#icon-edit"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="cart-foot-wrap">
          <!--<div class="cart-foot-inner">
            <div class="cart-foot-l">
              <div class="item-all-check">
                <a href="javascipt:;" @click="toggleCheckAll">
                  <span class="checkbox-btn item-check-btn" v-bind:class="{'check':checkAllFlag}">
                            <svg class="icon icon-ok"><use xlink:href="#icon-ok"/></svg>
                        </span>
                  <span>Select all</span>
                </a>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <!-- 模态框 -->
    <Modal :mdShow="modalConfirm" @close="closeModal">
      <p slot="message">你确认要删除此条数据吗？</p>
      <div slot="btnGroup">
        <a href="javascript:;" class="btn btn--m" @click="delOrder">确认</a>
        <a href="javascript:;" class="btn btn--m" @click="modalConfirm = false">关闭</a>
      </div>
    </Modal>
    <!-- 底部组件 -->
    <nav-footer></nav-footer>
    <!-- 图标 -->
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
  <symbol id="icon-add" viewBox="0 0 32 32">
    <title>add2</title>
    <path class="path1" d="M15 17h-13.664c-0.554 0-1.002-0.446-1.002-1 0-0.552 0.452-1 1.002-1h13.664v-13.664c0-0.554 0.446-1.002 1-1.002 0.552 0 1 0.452 1 1.002v13.664h13.664c0.554 0 1.002 0.446 1.002 1 0 0.552-0.452 1-1.002 1h-13.664v13.664c0 0.554-0.446 1.002-1 1.002-0.552 0-1-0.452-1-1.002v-13.664z"></path>
  </symbol>
  <symbol id="icon-ok" viewBox="0 0 32 32">
    <title>ok</title>
    <path class="path1" d="M31.020 0.438c-0.512-0.363-1.135-0.507-1.757-0.406s-1.166 0.435-1.529 0.937l-17.965 24.679-5.753-5.67c-0.445-0.438-1.035-0.679-1.664-0.679s-1.219 0.241-1.664 0.679c-0.917 0.904-0.917 2.375 0 3.279l7.712 7.6c0.438 0.432 1.045 0.681 1.665 0.681l0.195-0.008c0.688-0.057 1.314-0.406 1.717-0.959l19.582-26.9c0.754-1.038 0.512-2.488-0.538-3.233z"></path>
  </symbol>
  <symbol id="icon-edit" viewBox="0 0 32 32">
    <title>edit</title>
    <path class="path1" d="M28.287 8.51l-4.805-4.806 0.831-0.831c0.472-0.472 1.086-0.777 1.564-0.777 0.248 0 0.452 0.082 0.622 0.253l3.143 3.144c0.539 0.54 0.133 1.529-0.524 2.186l-0.831 0.831zM26.805 9.992l-1.138 1.138-4.805-4.806 1.138-1.138 4.805 4.806zM24.186 12.612l-14.758 14.762-4.805-4.806 14.758-14.762 4.805 4.806zM7.379 28.288l-4.892 1.224 1.223-4.894 3.669 3.67zM31.123 4.011l-3.143-3.144c-0.567-0.567-1.294-0.867-2.103-0.867-1.036 0-2.174 0.52-3.045 1.391l-20.429 20.436c-0.135 0.134-0.23 0.302-0.276 0.487l-2.095 8.385c-0.089 0.355 0.017 0.736 0.276 0.995 0.198 0.198 0.461 0.307 0.741 0.307 0.085 0 0.171-0.010 0.254-0.031l8.381-2.096c0.185-0.047 0.354-0.142 0.487-0.276l20.43-20.436c1.409-1.41 2.042-3.632 0.524-5.15v0z"></path>
  </symbol>
  <symbol id="icon-del" viewBox="0 0 32 32">
    <title>delete</title>
    <path class="path1" d="M11.355 4.129v-2.065h9.29v2.065h-9.29zM6.194 29.935v-23.742h19.613v23.742h-19.613zM30.968 4.129h-8.258v-3.097c0-0.569-0.463-1.032-1.032-1.032h-11.355c-0.569 0-1.032 0.463-1.032 1.032v3.097h-8.258c-0.569 0-1.032 0.463-1.032 1.032s0.463 1.032 1.032 1.032h3.097v24.774c0 0.569 0.463 1.032 1.032 1.032h21.677c0.569 0 1.032-0.463 1.032-1.032v-24.774h3.097c0.569 0 1.032-0.463 1.032-1.032s-0.463-1.032-1.032-1.032v0z"></path>
    <path class="path2" d="M10.323 9.806c-0.569 0-1.032 0.463-1.032 1.032v14.452c0 0.569 0.463 1.032 1.032 1.032s1.032-0.463 1.032-1.032v-14.452c0-0.569-0.463-1.032-1.032-1.032z"></path>
    <path class="path3" d="M16 9.806c-0.569 0-1.032 0.463-1.032 1.032v14.452c0 0.569 0.463 1.032 1.032 1.032s1.032-0.463 1.032-1.032v-14.452c0-0.569-0.463-1.032-1.032-1.032z"></path>
    <path class="path4" d="M21.677 9.806c-0.569 0-1.032 0.463-1.032 1.032v14.452c0 0.569 0.463 1.032 1.032 1.032s1.032-0.463 1.032-1.032v-14.452c0-0.569-0.463-1.032-1.032-1.032z"></path>
  </symbol>
  <symbol id="icon-clock" viewBox="0 0 32 32">
    <title>clock</title>
    <path class="path1" fill="#605f5f" d="M16 29c-7.168 0-13-5.831-13-13s5.832-13 13-13c7.168 0 13 5.832 13 13s-5.832 13-13 13zM16 0c-8.822 0-16 7.178-16 16s7.178 16 16 16c8.822 0 16-7.178 16-16s-7.178-16-16-16z"></path>
    <path class="path2" fill="#605f5f" d="M23.958 21.837l-6.958-6.489v-6.282c0-0.827-0.673-1.5-1.5-1.5s-1.5 0.673-1.5 1.5v6.934c0 0.414 0.174 0.814 0.477 1.098l7.435 6.934c0.279 0.259 0.642 0.402 1.023 0.402 0.415 0 0.814-0.174 1.096-0.477 0.564-0.605 0.532-1.555-0.073-2.12z"></path>
  </symbol>
</defs>
</svg>
</div>
</template>

<script type="text/ecmascript-6">
// import './../assets/css/checkout.css'
import NavHeader from '@/components/NavHeader.vue'  // 头部
import NavFooter from '@/components/NavFooter.vue'  // 底部
import NavBread from '@/components/NavBread.vue'  // 面包屑
import Modal from '@/components/Modal.vue'  // 模态框
import axios from 'axios'
import {currency} from '@/util/currency.js'  // 对价格格式化的通用方法

export default {
    data(){
        return {
          orderList:[],  // 购物车商品列表
          delItem:{},  // 要删除的商品
          modalConfirm:false ,  // 模态框是否显示
          // checkAllFlag:false   // 控制全选
          selected: "全部",
          orderType:"scoresOrderList"
        }
    },
    components:{
      NavHeader,
      NavFooter,
      NavBread,
      Modal
    },
    mounted:function(){
      this.init();
    },
    filters:{   // 定义局部过滤器
      currency:currency  // currency.js传过来的本就是函数
    },
    computed:{   // 实时计算的是属性，只不过是函数的写法，data里面就不用在声明了
      checkAllFlag(){    // 是否全选属性
        return this.checkedCount == this.orderList.length;  // 勾选的商品种数=购物车商品列表的商品种数时，返回true代表全选。
      },
      checkedCount(){   // 获取已勾选的商品种数(几种商品已勾选)
        var i = 0;
        this.orderList.forEach((item)=>{
          if(item.checked=='1')i++;
        });
        return i;
      }
    },
    methods:{
      init(){  
        this.getOrders();
      },
      getOrders(){
        var orderType = this.getUrlKey('orderType');
        if(orderType){
          this.selected =  orderType;
        }
        axios.post('/admin/scoresOrderList',{
          "orderStatus":orderType
        }).then((response)=>{
          let res = response.data;
          this.orderList = res.result;
        })
      },
      refreshOrder(){
        if ("全部" != this.selected){
          this.$router.push({path: '/scoresOrderList?orderType=' + this.selected});
        }else{
          this.$router.push({path: '/scoresOrderList'});
        }
        this.orderList = [];
        this.getOrders();
      },
      changeOrderList(){
        this.$router.push({path: '/' + this.orderType});
      },
      getUrlKey(name){
         return decodeURIComponent((new RegExp('[?|&]'+name+'='+'([^&;]+?)(&|#|;|$)').exec(location.href)||[,""])[1].replace(/\+/g,'%20'))||null;
      },
      delOrderConfirm(item){   // 点击删除图标
        this.delItem = item;
        this.modalConfirm = true;  // 模态框显示
      },
      closeModal(){   // 关闭模态框
        this.modalConfirm = false;
      },
      delOrder(){   // 确认删除此商品
       
      },
      gotoDetail(item){
        this.$router.push({path: '/scoresOrderDetail?orderId=' + item.orderId});
      }
      
    }
}
</script>
<style scoped>

</style>