


.orderlist-select {
   float: right;
   padding: 0 0 10px 0;
}


.orderdetail-item {
  display: table;
  width: 100%;
}


.exchangeOrder-tab-0 {
  min-height: 40px;
  text-align: right;
  width:50%;
  border-right: 1px solid #e9e9e9;
  display:inline-block ;
}

.exchangeOrder-tab-1 {
  min-height: 40px;
  width:50%;
  text-align: left;
  display:inline-block ;
}

.order-foot-wrap .delete-btn-wrap {
  float: left;
}

.order-foot-wrap .save-btn-wrap {
  float: right;
}

.btn--exchangeOrder {
  height: 50px;
  min-width: 150px;
  line-height: 40px;
}


.orderdetail-item {
  display: table;
  width: 100%;
}


.exchangeOrder-tab-0 {
  min-height: 40px;
  text-align: center;
  width:30%;
  border-right: 1px solid #e9e9e9;
  display:inline-block ;
}

.exchangeOrder-tab-1 {
  min-height: 40px;
  width:auto;
  text-align: center;
  display:inline-block ;
}

.order-foot-wrap .delete-btn-wrap {
  float: left;
}

.order-foot-wrap .save-btn-wrap {
  float: right;
}

.btn--exchangeOrder {
  height: 50px;
  min-width: 150px;
  line-height: 40px;
}

.exchangeOrder_expressId{
 text-decoration: underline;
}

.exchangeOrder_text{
  height: 50px;
  min-width: 60%;
  text-align: center;
  vertical-align:middle;
  margin: 10px auto;
}


.orderdetail-item-list {
  display: table-row-group;
}


.orderdetail-item-list > li {
  position: relative;
  display: table-row;
  padding: 32px 0;
  background: #fff;
}

.orderdetail-item-list > li > div {
  position: relative;
  display: table-cell;
  /*text-align: center;*/
  vertical-align: top;
  border-bottom: 1px solid #e9e9e9;
  height: 100%;
}

.orderdetail-item-list > li:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
}

.orderdetail-item-list > li:after {
  visibility: visible;
}

.orderdetail-item-list > li.disabled {
  background: #e9e9e9;
}

.orderdetail-item-list > li.disabled .item-check-btn {
  background: #ccc;
}

.orderdetail-item-list > li.disabled > div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 5;
}

.orderdetail-item-list > li.item-has-include .orderdetail-item-title {
  display: block;
  min-height: 76px;
  padding-left: 160px;
}

.orderdetail-item-list .orderdetail-item-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 76px;
  padding: 0 20px 0 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.orderdetail-item-list .orderdetail-item-title .item-name {
  width: 100%;
  line-height: 76px;
  color: #000;
  font-family: "moderat", sans-serif;
  font-weight: bold;
}
.orderdetail-item-list .orderdetail-item-title .item-count-down {
  font-size: 1.2rem;
}

.orderdetail-item-list .item-include {
  clear: both;
  width: 100%;
  margin-top: 6px;
  padding: 0 10px 0 36px;
  font-size: 12px;
}

.orderdetail-item-list .item-quantity > div {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
}

.orderdetail-item-list .item-stock {
  margin-top: 0;
  font-size: 1.2rem;
}

.orderdetail-item-list .orderdetail-item-opration {
  position: absolute;
  top: 60px;
  right: 10px;
} 
