<!-- 底部组件 -->
<template>
    <footer class="footer">
      <div class="footer__wrap">
        <div class="footer__secondary">
          <div class="footer__inner">
            <div class="footer__region">
      
            </div>
            <div class="footer__secondary__nav">
              <span>Copyright © 2018  All Rights Reserved.</span>
              <!--<a href="http://us/aboutUs.html">
                About Us
              </a>
              <a href="http://us/privacyPolicy.html">
                Privacy Policy
              </a>-->
            </div>
          </div>
        </div>
      </div>
    </footer>
</template>

<script type="text/ecmascript-6">
export default {

}
</script>

<style scoped>

</style>
